<form id="signUp">
    <div>
        <label for="email">Email</label>
        <input id="signUpInput" type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="passwordInput" type="password">
    </div>
    <div>
        <button id="signUpBtn"  type="submit">Sign Up!</button>
    </div>
</form>


  <bold>Or</bold>


<form id="Login">
    <div>
        <label for="email">Email</label>
        <input id="LoginInput" type="text">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="passwordInputLogin" type="password">
    </div>
    <div>
        <button id="LoginBtn"  type="submit">Login!</button>
    </div>
</form>

