
    <h1> Make a Post!</h1>

<form id="postPage">
    <div>
        <label for="title">Title</label>
        <input id="postInput" type="text">
    </div>

    <div>
        <label for="Url">Recipe URL</label>
        <input type="text" id="urlInput">
    </div>
    <div>
        <button id="postBtn"  type="submit">submit</button>
    </div>
</form>